"*":
  "atom-beautify":
    general:
      _analyticsUserId: "75ffd5f7-409a-4614-aae7-c11f419afed6"
  "autocomplete-java": {}
  "autocomplete-python":
    pythonPaths: "/usr/bin/local/python"
  core:
    automaticallyUpdate: false
    projectHome: "/Users/gabrielus/Dropbox/Projects/"
    themes: [
      "one-dark-ui"
      "solarized-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "2648485c-4a10-46c8-2e50-d9d9fdfbffc8"
  "linter-chktex": {}
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    pep8ErrorsToWarnings: true
  minimap: {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "sync-settings":
    _analyticsUserId: "8f264897-2474-402c-954d-7a104a6d29f1"
    _lastBackupHash: "0b58900d5d1b5af2c93ca33b4035ad7bfbd4c2f8"
    gistId: "5c0cec445f3d027b1c54157cc7485298"
    personalAccessToken: "19619952c36407d6ca191f53a0ac67cf910684fa"
  welcome:
    showOnStartup: false
".ampl.source":
  editor:
    tabLength: 4
".beamer.latex.tex.text":
  editor:
    tabLength: 4
".bibtex.text":
  editor:
    tabLength: 4
".latex.log.text":
  editor:
    tabLength: 4
".latex.memoir.tex.text":
  editor:
    tabLength: 4
".latex.tex.text":
  editor:
    tabLength: 4
".tex.text":
  editor:
    tabLength: 4
